{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="media text-center">
  <img class="align-self-start mr-3" height="200px" src="{{program.poster}}" alt="{{ program.title }} poster">
  <div class="media-body"><br>
    <h1 class="mt-0">Saison {{season.number}} de {{ program.title }}</h1>
    <p>{{ program.summary }}</p>
    
    <h3>Liste des épisodes :</h3>
    {% for episode in episodes %}
      <li>Episode {{ episode.number }} : {{ episode.title }}
      </li>
    {% else %}
      Aucune saison d'enregistré.
    {% endfor %}
  </div>
</div>

<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>

{% endblock %}